<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br/>
    <p><a href= "/movies">Listar Películas</a></p>
    <p><a href= "/movies/new">Listar Estrenos</a></p>
    <p><a href= "/movies/recomended">Películas Recomendadas Mejor Rating</a></p>
    <p><a href= "/movies/add">Ingresar una nueva Película</a></p>
    <br/>

  </body>
</html>
